<div class="container">
    
    <div class="">
        <div class="row justify-content-center">
            <!-- Titulo y texto -->
            <div class="col-12 col-md-7">
                <h2 class="">This First Heading <span class="text-secondary"> Will Catch Your Eye</span></h2>
                <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis aliquid beatae amet fugiat? Eaque saepe adipisci suscipit. Quam nesciunt perferendis, provident dicta vel quisquam esse dolorem? Minus laborum dolorum explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut nemo sequi ratione accusamus, ipsum consectetur eius facere rem dignissimos. Debitis ad quia asperiores dignissimos architecto, accusamus hic alias itaque?</p>
            </div>
        
            <!-- IMAGEN -->
            <div class="col-12 col-md-2" style="width: 350px; height: 400px;">
                <img class="rounded-circle" width="100%"
                src="./assets/img/1.jpg"/>
            </div>
        </div>
    </div>
</div>


