<div class="container">
    
    <div class="">
        <div class="row justify-content-center">

            <!-- IMAGEN -->
            <div class="col-12 col-md-2" style="width: 350px; height: 400px;">
                <img class="rounded-circle" width="100%"
                src="./assets/img/2.jpg"/>
            </div>

            <!-- Titulo y texto -->
            <div class="col-12 col-md-7">
                <h2 class="">This Second Heading <span class="text-secondary"> Is Preatty Cool Too</span></h2>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut nemo sequi ratione accusamus, ipsum consectetur eius facere rem dignissimos. Debitis ad quia asperiores dignissimos architecto, accusamus hic alias itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati asperiores harum, odio veritatis sunt perferendis aperiam quisquam quas pariatur dicta! Cumque asperiores cum natus, obcaecati ducimus odio debitis eaque necessitatibus.</p>
            </div>
        </div>
        
    </div>
</div>